.NotFound{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.NotFound img{
    width: 500px;
}
.NotFound a{
    text-decoration: none;
    margin-top: 10px;
    color: black;
    font-size: 15px;
    /* color: #5e5e5e; */
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}
.NotFound button{
    border: none;
    background-color: #ffbb28;
    padding: 15px 17px;
    border-radius: 25px;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
}
.NotFound p{
    color:#5e5e5e;
    font-size: 16px;
    margin-top: 10px;
    font-family: "Poppins";
}
@media screen and (max-width: 600px){
    .NotFound img{
        width: 90%;
    }
    .NotFound{
        padding: 0px 20px;
    }
    
}