.CMS_add-News{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.CMS-head{
    margin-top: 20px;
    padding-left: 50px;
    margin-bottom: 50px;
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: left;
    /* justify-content: ; */
}
.CMS-head h1{
    font-size: 30px;
}
.CMS_add-News-form form{
    width: 800px;
    background-color: #f9f9f9;
    padding: 20px 30px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.CMS_add-News-form h5{
    color: #27375d;
    font-family: "Poppins", sans-serif;
    text-align: center;
    font-size: 17px;
    margin: 10px 0px;
    font-weight: 600;
}
.CMS_add-News-form_row{
    width: 90%;
    display: flex;
    align-items: flex-start;
    justify-content: left;
}
.CMS_add-News-form label{
    color: #5e5e5e;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    width: 170px;
}
.CMS_add-News-form input{
    width: 90%;
    border: 1px solid #ffbb08;
    border-radius: 5px;
    padding: 5px;
    background-color: #fff;
}
.CMS_add-News-form textarea{
    width: 90%;
    height: 150px;
    border: 1px solid #ffbb08;
    border-radius: 5px;
    padding: 5px;
    background-color: #fff;
}
.CMS_add-News-form_button button{
    padding: 12px 20px;
    border: none;
    border-radius: 25px;
    color: #fff;
    background-color: #27375d;
    font-size: 13px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 20px;
}